[submodule "dep/libnbtplusplus"]
	path = dep/libnbtplusplus
	url = https://github.com/ljfa-ag/libnbtplusplus
[submodule "dep/tinyfiledialogs"]
	path = dep/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
[submodule "dep/ThreadPool"]
	path = dep/ThreadPool
	url = https://github.com/progschj/ThreadPool
[submodule "dep/hat-trie"]
	path = dep/hat-trie
	url = https://github.com/Tessil/hat-trie
