# Conan
conaninfo.txt
conanbuildinfo.txt
conanbuildinfo.cmake

# CLion
cmake-build-debug
.idea

# CMake
CMakeSettings.json

# Visual studio
graph_info.json
out
.vs

# Custom python script
mc_build
mc_tmp

# Minecraft assets
resources/minecraft_assets/*.bin

# Python
venv
